/* Styles specific to the PPF Calculator */

#extensionContributionDiv {
    transition: all 0.3s ease-in-out;
}

#yearlyGrowthContainer {
    max-height: 300px; /* Constrain height and enable vertical scrolling */
    overflow-y: auto;
}

#yearlyGrowthContainer table {
    font-size: 0.65rem; /* Squeezed font size */
}

#yearlyGrowthContainer th {
    font-size: 0.6rem; /* Squeezed font size */
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

#yearlyGrowthContainer td {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
